script(type='text/javascript', src='/vendor/jquery/dist/jquery.js')
script(type='text/javascript', src='/vendor/datatables/media/js/jquery.dataTables.js')
script(type='text/javascript', src='/vendor/datatables-bootstrap3/BS3/assets/js/datatables.js')
