link(rel='stylesheet', href='/stylesheets/styles.css')
link(rel='stylesheet', href='/vendor/components-font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/vendor/datatables/media/css/jquery.dataTables.css')